BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 8
ColumnLimit: 200
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  BeforeElse: false
  BeforeCatch: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: false